/*Css organized by tag type and alphabetical order. */
/*This is the css ClearFix*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* This is the IE10 veiw port hack for Surface and Desktop Windows 8 Bug 
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}
*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------------------------------------------------------------------------------------*/
/*This is the begining of the main.css*/
body {
    min-height: 5em;
    padding-top: 3.889em;
    font-family: 'Slabo 27px', serif;
    font-size: 1em;
    line-height: 1.21em;
    color: #0E0700;
}
button.navbar-toggle.collapsed {
    background-color:#633B11;	
}
button.navbar-toggle.collapsed:hover {
    background-color: burlywood;
}
footer {
    background-color: #633B11;
    color: #FFDCB7;
    padding-top: 15px;
    padding-left: 28px;
}
<<<<<<< HEAD
ul {
    margin-left: 2em;
}
ol {
    margin-left: 1em;
}
=======

>>>>>>> origin/gh-pages
/* Class tags */
.dates {
    float: left;
    margin-top: 55px;
    text-align: center;
    line-height: 32px;
}
.dates1 {
    float: left;
    text-align: center;
}
.job {
     margin-left: 150px;
}
.job p {
    margin-left: 15px;
}
.navbar-default {
    padding-top: 32px;
    background-color: #633B11;
}
.navbar-name {
    color: #FFDCB7;
    font-size: 32px;
    margin-top: -10px;
}
.school {
    margin-left: 150px;
   /* border-bottom: 1px solid #0E0700;*/
}
.school p {
    margin-left: 15px;
}
.success {
    font-weight: 600;
    letter-spacing: 1px;
}
.title {
    font-weight: 700;
    font-size:1.2em;
    letter-spacing: 1.3px;
}
/* Id Tags */

#experience h1, #skills h1, #references h1, #education h1 {
    margin-bottom: 32px;
    font-weight: 800;
    font-size: 2em;
    margin-top: 1.8em;
    margin-left: 2em;
}
#navbar {
    color:#FFDCB7;
}
#profile {
    margin-left: 2em;
    margin-top: 3em;
    width: 253px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    line-height: 40px;
    background-color: #B57B3f;
}
#profile h3 {
    text-align: center;
}
#profile p {
    color: #FFDCB7;
    text-align: center;
}
#references h1 {
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 800;
}
#skills h1 {
    margin-left: 55px;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 800;
}
/*at media styles go here*/
/*Organized by size small to large*/

@media screen and (max-width: 470px ) {
    #profile {
        margin: 0;
        width: 100%;
        height: 8em;
        display:inline-table;
        line-height: 1.5em;
    }
}
@media screen and (max-width: 991px ) {
    #profile {

    }
}
