/*Css organized by tag type and alphabetical order. */
/*This is the css ClearFix*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------------------------------------------------------------------------------------------------------------------*/
/*This is the begining of the main.css*/
a {
    color: #FFDCB7;
    text-shadow: 2px 2px 1px #000;
}
a:focus, a:hover {
    text-decoration: none;
}
body {
    min-height: 5em;
    width: 100%;
    padding-top: 3.889em;
    font-family: 'Slabo 27px', serif;
    font-size: 1.3em;
    line-height: 1.21em;
    color: #0E0700;
}
button.navbar-toggle.collapsed {
    background-color:#633B11;
}
button.navbar-toggle.collapsed:hover {
    background-color: burlywood;
}
footer {
    background-color: #633B11;
    color: #FFDCB7;
    padding-top: 15px;
}
li {
    text-align: center;
}
/* Class tags */
.btn-info {
    font-size: 1.4em;
    background-color: #633B11;
}
.col-xs-4  {
    margin-bottom: 0.8em;
}
.col-xs-6 {
    text-align: center;
}
.col-xs-9 {
    border-left:0.1em dashed #FFDCB7;
}
.col-xs-12 {
  text-align: center;
}
.companyName {
    text-align: center;
    font-size: 1.7em;
    text-shadow: 2px 2px 2px #dcdc4b;
    margin-bottom: 1em;
}
.dates {
    text-align: center;
    line-height: 32px;
}
.dates1 {
    float: left;
    text-align: center;
}
.img-circle {
  height: 10em;
  width: auto;
  background-color: #FFDCB7;
}
.muted {
    color: #000;
    font-size: 0.7em;
    background-color: #FFDCB7;
}
.navbar-default .navbar-nav>li>a {
    color: #FFDCB7;
}
.navbar-default .navbar-nav>li>a:focus {
    color: #FFDCB7;
    border:1px solid #FFDCB7;
}
.navbar-default {
    padding-top: 32px;
    background-color: #633B11;
}
.navbar-name {
    color: #FFDCB7;
    font-size: 32px;
    margin-top: -10px;
    margin-left: 0.5em;
}
.phone{
    font-size: 1em;
}
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.standOut {
  text-decoration: underline;
  font-size: 2em;
}
.skills {
  margin-bottom: 1em;
}

.success {
    font-weight: 600;
    letter-spacing: 0.05em;
}


.title {
    font-weight: 700;
    font-size:1.2em;
    letter-spacing: 0.05em;
}
/*  SVG tags  */
/*  this is js  */
  .st0{fill:#FCEE21;stroke:#000000;stroke-miterlimit:10;}
  .st1{stroke:#000000;stroke-width:4;stroke-miterlimit:10;}
  .st2{font-family:'TrebuchetMS-Bold';}
  .st3{font-size:160.3127px;}
/*================  Skills tags*/
  #htmlSkill, #cssSkill, #jsSkill, #nodeJSSkill, #gitSkill, #expressSkill {
    width: 5em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

/* Id Tags */
#html {
  box-shadow: 1px 1px 5px #111;
}

#experience, #skills {
    border:1px solid #FFDCB7;
}
#education h1, #experience h1, #skills h1, #references h1 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    margin-top: 1.8em;
    text-align: center;
}
#github, #linkedin {
  width: 5em;
  height: 5em;
}
#navbar {
    color:#FFDCB7;
}
#objective {
  margin-top: -0.8em;
  text-align: center;
  background-color: #FFDCB7;
  color: #633B11;
  border: 0.3em solid #633B11;
  border-bottom: transparent;
}
#objective h2 {
  margin: 0.5em auto;
  font-size: 2em;
  font-weight: 600;
}
#objective p {
  margin: 1em auto;
}

#profile {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    line-height: 40px;
    background-color: #B57B3f;
}
#profile h3 {
    text-align: center;
    font-weight: 800;
}
#references {
    text-align: center;
}
#name, #aDress, #pNum, #myEmail, #mySite {
    color: #FFDCB7;
    text-align: center;
    font-weight: 500;
}

@media screen and (max-width: 350px) {
    .btn-info {
        font-size: 1.2em;
    }
    #htmlSkill, #cssSkill, #jsSkill, #nodeJSSkill, #gitSkill, #expressSkill {
    width: 4em;
    height: auto;
    }
}

/*============================
*   Coming Soon Page
*=============================*/
.comingSoon, .comingSoon h1 {
  padding:1em 1em;
  text-align: center;
  font-size: 3.5em
  font-weight:700;
  font-family: sans-serif;
}
#tShirt {
  font-size: 1em;
  padding: 0.8em 0.8em;
  margin: 0;

}


/*=============================*/


/*at media styles go here*/
/*Organized by size small to large*/
@media screen and (max-width: 490px ){
      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, section, summary,
      time, mark, audio, video, .container {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    a:hover, a:focus {
      text-decoration: none;
    }
    button.navbar-toggle.collapsed {
        margin-right: 1.5em;
    }
    h3 {
        font-size:1.5em;
    }
    p {
        font-size: 1.3em;
        font-family: sans-serif;
    }
      .navbar-default .navbar-toggle {
        margin-right: 1.5em;
      }
      .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover,
      .navbar-default .navbar-toggle:active {
        margin-right: 1.5em;
        background-color: #fedbb6;
      }
      .navbar-default .navbar-toggle:visited {
        background-color: #633b11;
      }

    .title {
        font-size: 2em;
        margin: 0.2em 0;
    }
      .col-xs-3 {
        width: 100%;
        margin-bottom: 0.5em;
       }
       .col-xs-6 {
        width
       }
      .col-xs-9 {
        width: 100%;
        right: 0px;
        left: 0px;
        border-left: none;
        border-top: 0.1em dashed #FFDCB7;
        text-align: center;
      }
        .navbar-name {
            margin-left: 1em;
        }
      #education h1, #experience h1, #skills h1, #references h1 {
        font-size: 3.5em;
        margin-bottom: 0.8em;
        margin-top: 0.8em;
        text-align: center;
        }
        #objective {
          margin-top: 4em;
        }
        #profile {
            line-height: 30px;
        }
        #profileInfo{
          margin: 0em auto;
        }
        #profilePic {
          visibility: hidden;
          width: 5em;
        }
}
@media screen and (max-width: 519px ){
    @media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
    }

  }
}
@media screen and (min-width:491,  max-width:769px){
  #objective {
    margin-top: -1.1em;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x: auto;
  }

}

